.board {
	position: relative;
	width: 400px;
	height: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: #001a66;
	border-radius: 50px;
}

.row1 {
	display: flex;
	justify-content: center;
}

.row2 {
	display: flex;
	justify-content: center;
}

.row3 {
	display: flex;
	justify-content: center;
}