.sq_btn {
	height: 100px;
	width: 100px;
	margin: 10px;
	padding: 0px;
	outline: none;
	background-color: rgb(32,32,32);
	color: white;
	font-size: 40px;
	font-weight: 800;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	box-shadow: 0 9px #999;
}

.sq_btn:hover {
	background-color: rgb(52,52,52);
	border: 6px solid #e41f7b;
}

.sq_btn:active {
	background-color: black;
	box-shadow: 0 6px #666;
	transform: translateY(4px);
}

.square {
	display: inline-block;
}
